In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import time

In [3]:
movies_metadata_df = pd.read_csv('C:/Users/Adh/Desktop/Mini_Proj/Data/movies_metadata.csv', low_memory=False)
ratings_df = pd.read_csv('C:/Users/Adh/Desktop/Mini_Proj/Data/ratings.csv', low_memory=False)

In [4]:
print("Ratings data contains {} rows and {} columns".format(ratings_df.shape[0], ratings_df.shape[1]))
print("Movie metadata contains {} rows and {} columns".format(movies_metadata_df.shape[0], movies_metadata_df.shape[1]))

Ratings data contains 26024289 rows and 4 columns
Movie metadata contains 45466 rows and 24 columns

In [5]:
from ast import literal_eval
# Returns the list top l elements or entire list; whichever is more.
def get_list(x, l=5):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        names = names[:3]
        #Check if more than l elements exist. If yes, return only first three. If no, return entire list.
               
        return names

    #Return empty list in case of missing/malformed data
    return []

def list_string (x):
    if len(x)>=1:
        a = x[0]
        return a
movies_metadata_df['genres'] = movies_metadata_df['genres'].apply(literal_eval)
movies_metadata_df['genres'] = movies_metadata_df['genres'].apply(get_list)
movies_metadata_df['genres'] = movies_metadata_df['genres'].apply(list_string)

In [6]:
movies_metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,Adventure,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,Romance,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,Comedy,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
pd.DataFrame({'feature':movies_metadata_df.dtypes.index, 'dtype':movies_metadata_df.dtypes.values})

                  feature    dtype
0                   adult   object
1   belongs_to_collection   object
2                  budget   object
3                  genres   object
4                homepage   object
5                      id   object
6                 imdb_id   object
7       original_language   object
8          original_title   object
9                overview   object
10             popularity   object
11            poster_path   object
12   production_companies   object
13   production_countries   object
14           release_date   object
15                revenue  float64
16                runtime  float64
17       spoken_languages   object
18                 status   object
19                tagline   object
20                  title   object
21                  video   object
22           vote_average  float64
23             vote_count  float64

In [8]:
def check_missing(data_df):
    total = data_df.isnull().sum().sort_values(ascending = False)
    percent = (data_df.isnull().sum()/data_df.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

check_missing(movies_metadata_df)

,belongs_to_collection,homepage,tagline,genres,overview,poster_path,runtime,status,release_date,imdb_id,...,spoken_languages,title,video,popularity,production_companies,production_countries,original_title,id,budget,adult
Total,40972.000000,37684.000000,25054.000000,2442.000000,954.000000,386.000000,263.000000,87.000000,87.000000,17.000000,...,6.000000,6.000000,6.000000,5.000000,3.000000,3.000000,0.0,0.0,0.0,0.0
Percent,90.115691,82.883913,55.104914,5.371046,2.098271,0.848986,0.578454,0.191352,0.191352,0.037391,...,0.013197,0.013197,0.013197,0.010997,0.006598,0.006598,0.0,0.0,0.0,0.0

In [9]:
movies_metadata_df.dropna(subset=['title'], inplace=True)
check_missing(movies_metadata_df)

,belongs_to_collection,homepage,tagline,genres,overview,poster_path,runtime,release_date,status,imdb_id,...,vote_count,popularity,vote_average,production_companies,production_countries,revenue,spoken_languages,title,video,adult
Total,40970.000000,37682.000000,25048.000000,2442.000000,954.000000,383.000000,257.000000,84.000000,81.000000,17.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,90.123185,82.890453,55.098988,5.371755,2.098548,0.842499,0.565332,0.184778,0.178179,0.037396,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
movies_metadata_df.dropna(subset=['genres'], inplace=True)
check_missing(movies_metadata_df)

,belongs_to_collection,homepage,tagline,overview,poster_path,runtime,status,release_date,imdb_id,original_language,...,vote_count,popularity,vote_average,production_companies,production_countries,revenue,spoken_languages,title,video,adult
Total,38596.000000,35423.0000,22872.000000,697.000000,183.000000,179.000000,51.000000,26.00000,12.000000,10.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,89.720582,82.3446,53.168441,1.620252,0.425403,0.416105,0.118555,0.06044,0.027895,0.023246,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
movies_metadata_df['id'] = pd.to_numeric(movies_metadata_df['id'])

In [12]:
ratings_df = ratings_df.merge(movies_metadata_df, left_on=['movieId'], right_on=['id'], how='inner')

In [13]:
ratings_df.head()

,userId,movieId,rating,timestamp,adult,belongs_to_collection,budget,genres,homepage,id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,110,1.0,1425941529,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,Drama,NaN,110,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
1,11,110,3.5,1231676989,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,Drama,NaN,110,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
2,22,110,5.0,1111937009,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,Drama,NaN,110,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
3,24,110,5.0,979870012,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,Drama,NaN,110,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
4,29,110,3.0,1044020005,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,Drama,NaN,110,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246.0

In [14]:
ratings_df.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'adult',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [15]:
ratings_df.drop(['adult',
       'belongs_to_collection', 'budget', 'homepage', 
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video','id'],axis=1)

,userId,movieId,rating,timestamp,genres,title,vote_average,vote_count
0,1,110,1.0,1425941529,Drama,Three Colors: Red,7.8,246.0
1,11,110,3.5,1231676989,Drama,Three Colors: Red,7.8,246.0
2,22,110,5.0,1111937009,Drama,Three Colors: Red,7.8,246.0
3,24,110,5.0,979870012,Drama,Three Colors: Red,7.8,246.0
4,29,110,3.0,1044020005,Drama,Three Colors: Red,7.8,246.0
...,...,...,...,...,...,...,...,...
11382416,270123,125249,3.5,1436135273,Action,The Bat Man,7.0,11.0
11382417,270123,140222,3.0,1440920139,Drama,Love and Honor,5.8,135.0
11382418,270123,151509,3.0,1453527817,Comedy,Trapped in the Closet: Chapters 23-33,6.5,4.0
11382419,270123,159109,1.5,1465361347,Comedy,The Rambler,6.0,14.0
11382420,270887,136928,3.0,1463422216,Drama,First Winter,4.0,1.0

In [16]:
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot, plot
init_notebook_mode(connected=True)

In [17]:
fig = px.scatter(ratings_df, x='budget', y='revenue', hover_data=['title'], color='genres', width=800, height=800)
fig.update_layout(
    title='The Relationship between Budget and Revenue',
    xaxis_title='Budget',
    yaxis_title='Revenue',
    font=dict(
        size=16
    )
)
iplot(fig)

MemoryError:

In [ ]:
genre_count_df = ratings_df.groupby(['genres'])['userId'].size()
genre_rating_df = ratings_df.groupby(['genres'])['rating'].mean()

fig = go.Figure([
    go.Bar(
        x=genre_count_df.index,
        y=genre_count_df.values,
        text=genre_rating_df.values,
        textposition='auto',
        marker_color=['#94447f',
                      '#5796ef',
                      '#8a59c0',
                      '#288abf',
                      '#0ab78d',
                      '#4ed993',
                      '#7d3970',
                      '#b3dc67',
                      '#dc560a',
                      '#0079fe',
                      '#98d3a8',
                      '#d5105a',
                      '#d04dcf',
                      '#58c7a2',
                      '#7bf1f8',
                      '#244155',
                      '#587b77',
                      '#c64ac2',
                      '#5e805d',
                      '#ebab95']
    )])

fig.update_layout(
    title='Mean of all Ratings in each Genre',
    xaxis_title='Genre',
    yaxis_title='No. of Users',
    width=800,
    height=1000,
    font=dict(
        size=16
    )
)

fig.layout.template = 'seaborn'

iplot(fig)

In [ ]:
#fig = px.scatter(genre_rating_df, x= genre_rating_df.values, y=genre_rating_df.index, hover_data=['title'], color='genres', width=800, height=800)
#fig.update_layout(
#    title='The Relationship between Budget and Revenue',
#    xaxis_title='Budget',
#    yaxis_title='Revenue',
#    font=dict(
#        size=16
#    )
#)
#iplot(fig)

In [ ]:
genre_rating_df = ratings_df.groupby(['genres'])['rating'].mean()

fig = go.Figure([
    go.Bar(
        x=genre_rating_df.index,
        y=genre_rating_df.values,
        text=genre_rating_df.values,
        textposition='auto',
        marker_color=['#94447f',
                      '#5796ef',
                      '#8a59c0',
                      '#288abf',
                      '#0ab78d',
                      '#4ed993',
                      '#7d3970',
                      '#b3dc67',
                      '#dc560a',
                      '#0079fe',
                      '#98d3a8',
                      '#d5105a',
                      '#d04dcf',
                      '#58c7a2',
                      '#7bf1f8',
                      '#244155',
                      '#587b77',
                      '#c64ac2',
                      '#5e805d',
                      '#ebab95']
    )])

fig.update_layout(
    title='Mean of all Ratings in each Genre',
    xaxis_title='Genre',
    yaxis_title='Average Ratings',
    width=800,
    height=1000,
    font=dict(
        size=16
    )
)

fig.layout.template = 'seaborn'

iplot(fig)

In [ ]:
genre_rating_df = ratings_df.groupby(['userId','genres']).agg({"rating":['count','mean']}).reset_index()

In [ ]:
genre_rating_df.head()
genre_rating_df.columns

In [ ]:
#genre_rating_df.genres = pd.Categorical(genre_rating_df.genres)
#genre_rating_df['code'] = genre_rating_df.genres.cat.codes

In [ ]:
genre_rating_df.head()

In [ ]:
genre_rating_df.rename(columns = {'mean':'Mean (genre)'}, inplace = True)

In [ ]:
genre_rating_df.head()

In [ ]:
#import scipy.cluster.hierarchy as sch

In [ ]:
#genre_rating_df.genres = pd.Categorical(genre_rating_df.genres)
#genre_rating_df['code'] = genre_rating_df.genres.cat.codes

In [ ]:
#rr = genre_rating_df.drop(['genres'],axis=1)
#rr.head()

In [ ]:
#dendrogram = sch.dendrogram(sch.linkage(rr, method  = "ward"))
#plt.title('Dendrogram')
#plt.xlabel('Users')
#plt.ylabel('Euclidean distances')
#plt.show()

In [ ]:
red_rating_df = ratings_df.drop(['timestamp', 'adult',
       'belongs_to_collection', 'budget',  'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
        'vote_count'],axis=1)
red_rating_df.head()

In [ ]:
red_rating_df = red_rating_df.merge(genre_rating_df, left_on=['userId','genres'], right_on=['userId','genres'], how='inner')

In [ ]:
red_rating_df.head()

In [ ]:
#red_rating_df

In [ ]:
#red_rating_df.to_csv('C:/Users/Adh/Desktop/Mini_Proj/file_name.csv')

In [ ]:
rr2 = red_rating_df[['userId','rating']]

In [ ]:
rr2

In [ ]:
rr2 = rr2.groupby(['userId']).agg({"rating":['mean']}).reset_index()

In [ ]:
rr2.rename(columns = {'mean':'Mean per user'}, inplace = True)

In [ ]:
rr2

In [ ]:
rr3 = red_rating_df.merge(rr2, left_on=['userId'], right_on=['userId'], how='inner')

In [ ]:
rr3

In [1]:
rr3.columns

NameError: name 'rr3' is not defined

In [ ]:
rr3['Normalised_score'] = rr3['rating']/rr3[('rating', 'Mean per user')]
rr3

In [ ]:
rr4 = rr3.groupby(['userId','genres']).agg({"Normalised_score":['mean']}).reset_index()

In [ ]:
rr4

In [ ]:
rr5=rr4
rr5.columns = rr5.columns.get_level_values(0)

In [ ]:
rr5

In [ ]:
rr5.columns

In [ ]:
fig = px.scatter(rr5,x='userId', y='Normalised_score', color='genres', width=800, height=800)
fig.update_layout(
    title='The Relationship between Normalised and userId',
    xaxis_title='Users',
    yaxis_title='Normalised Score',
    font=dict(
        size=16
    )
)
iplot(fig)

In [ ]:
rr6 = pd.crosstab(rr5['userId'], rr5['genres'],values=rr5.Normalised_score,aggfunc='mean')
rr6.head(50)

In [ ]:
rr6.describe()

In [ ]:
rr6.index

In [ ]:
df = rr6

In [ ]:
df = df.fillna(0)
df.describe()

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

wcss = []

for i in range(1,20):
    kmeans = KMeans(n_clusters=i,max_iter=300,n_init=10,random_state=0)
    km=kmeans.fit(df)
    wcss.append(kmeans.inertia_)
plt.figure()
plt.plot(range(1,20),wcss, marker="o")

plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('Within Cluster Sum of Squares')

plt.show()

In [ ]:
 t0 = time.process_time()

In [ ]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(df)

In [ ]:
t1 = time.process_time()
tc = t1-t0
print("The time taken for clustering is: %d seconds"%tc)

In [ ]:
len(kmeans.labels_)

In [ ]:
rr7 = rr6
rr7

In [ ]:
rr6['cluster'] = kmeans.labels_

In [ ]:
rr6

In [ ]:
dff = rr6

In [ ]:
dff.reset_index(level=0, inplace=True)

In [ ]:
dff2 = dff.groupby(["cluster"])['userId'].count()

In [ ]:
dff2

In [ ]:
sns.barplot(x = dff2.index,
            y = dff2.values)

In [ ]:
c=[0,1,2,3]
for i in range(4):
    c[i] = dff[dff['cluster'] == i]
    c[i] = c[i]['userId'].reset_index()
    c[i].drop('index', axis=1, inplace=True)
    c[i]

In [ ]:
c[0]

In [ ]:
c0 = dff[dff['cluster'] == 0]
c0 = c0['userId'].reset_index()
c0.drop('index', axis=1, inplace=True)
c0

In [ ]:
c1 = dff[dff['cluster'] == 1]
c1 = c1['userId'].reset_index()
c1.drop('index', axis=1, inplace=True)
c1

In [ ]:
c2 = dff[dff['cluster'] == 2]
c2 = c2['userId'].reset_index()
c2.drop('index', axis=1, inplace=True)
c2

In [ ]:
c3 = dff[dff['cluster'] == 3]
c3 = c3['userId'].reset_index()
c3.drop('index', axis=1, inplace=True)
c3

In [ ]:
ratings_df2 = pd.read_csv('C:/Users/Adh/Desktop/Mini_Proj/Data/ratings.csv', low_memory=False)

In [ ]:
cdf = [0,1,2,3]
for i in range(4):
    
    cdf[i] = c[i].merge(ratings_df2, left_on=['userId'], right_on=['userId'], how='inner')

In [ ]:
cdf[0].head()

In [ ]:
cdf[0].columns

In [ ]:
ratings_df2.columns

In [ ]:


def Movie_Recommender(df0,tr,tst):
    
    from pyspark.ml.evaluation import RegressionEvaluator
    from pyspark.ml.recommendation import ALS
    from pyspark.sql import SparkSession 
    
    spark = SparkSession.builder.getOrCreate()
    df = spark.createDataFrame(df0)
    

    data = df.selectExpr("cast(userId as int) userId", "cast(movieId as int) movieId", "cast(rating as int) rating")
    #data = df

    (training, test) = data.randomSplit([tr, tst])

    als = ALS(maxIter=5, regParam=0.01, userCol='userId', itemCol="movieId", ratingCol="rating", coldStartStrategy="drop")
    model = als.fit(training)
    predictions = model.transform(test)
    evaluator = RegressionEvaluator(metricName="mae", labelCol="rating",
                                predictionCol="prediction")
    mae = evaluator.evaluate(predictions)

    print("Mean Absolute Error = " + str(mae))
    userRecs = model.recommendForAllUsers(10)
    return userRecs

In [ ]:
t0 = time.process_time()
first_recommendation = Movie_Recommender(ratings_df2,0.8,0.2)
t1 = time.process_time()
first_recommendation.show()
tcf = t1-t0
print("The time taken for CF is: %d seconds "%tcf)

In [ ]:
recommendation_c=[0,1,2,3]
tcf2 = [0,1,2,3]
for i in range(4):
    print("RECOMMENDATION FOR CLUSTER: ",i)
    t0 = time.process_time()
    recommendation_c[i] = Movie_Recommender(cdf[i],0.8,0.2)
    t1 = time.process_time()
    tcf2[i]= t1-t0
    print("Time taken for CF in Cluster %d is %d seconds"%(i,tcf2[i]))
    recommendation_c[i].show()

In [ ]:
#df = first_recommendation
#from pyspark.sql.functions import udf
#from pyspark.sql.types import StringType
#def array_to_string(my_list):
    #return '[' + ','.join([str(elem) for elem in my_list]) + ']'

#array_to_string_udf = udf(array_to_string,StringType())
#df = df.withColumn('recommendations_1',array_to_string_udf(df["recommendations"]))

#df.drop("recommendations").write.csv('C:/Users/Adh/Desktop/Mini_Proj/Data/file_delete.csv')

In [ ]:
clist = ['0','1','2','3']
# line 1 points
x1 = clist
y1 = [tcf,tcf,tcf,tcf]
plt.plot(x1, y1, label = "Collaborative Filtering")

# line 2 points
#x2 = clist
#y2 = tcf2
#plt.plot(x2, y2, label = "Collaborative Filtering for each cluster")

# line 3 points
tcc=[0,1,2,3]
for i in range(len(tcf2)):
    tcc[i] = tcf2[i]+tc
x3 = clist
y3 = tcc
plt.plot(x3, y3, label = "Hybrid Model")

# line 4 points
#x4 = clist
#y4 = [tc,tc,tc,tc]
#plt.plot(x4, y4, label = "Clustering")


plt.xlabel('Cluster')
# Set the y axis label of the current axis.
plt.ylabel('Time taken in Seconds')
# Set a title of the current axes.
plt.title('Time taken for the Process')
# show a legend on the plot
plt.legend()
plt.ylim(ymin=0,ymax=5)
# Display a figure.
plt.show()

In [ ]:
## MANUALLY ENTERED GRAPH FOR MAE

x1 = clist
y1 = [0.8729950050496748,0.8729950050496748,0.8729950050496748,0.8729950050496748]
plt.plot(x1, y1, label = "Collaborative Filtering")

# line 2 points
x2 = clist
y2 = [1.5571304218441657,2.516350111452158,0.9922507039827495,1.0952261033593451]
plt.plot(x2, y2, label = "Collaborative Filtering for each cluster")




plt.xlabel('Cluster')
# Set the y axis label of the current axis.
plt.ylabel('Mean Absolute Error')
# Set a title of the current axes.
plt.title('Mean Absolute Error for each Process')
# show a legend on the plot
plt.legend()
# Display a figure.
plt.show()

In [ ]:
##MANUAL PLOTS

x = clist
y = dff2.values
plt.xlabel('Cluster')
plt.ylabel('Number of Users')
plt.title('Number of Users in each Cluster')
plt.bar(x,y,color=['red', 'green', 'blue', 'cyan'])
plt.show()